<?xml version="1.0" encoding="utf-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>Suggest</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.SuggestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerInfo</servlet-name>
        <jsp-file>/player_info.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FriendsServlet</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.FriendsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerImageServlet</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.PlayerImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionImageServlet</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.QuestionImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsAdminServlet</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.QuestionsAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trivia_Quiz_Server</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.Trivia_Quiz_ServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceivePlayerData</servlet-name>
        <servlet-class>com.androidbook.triviaquizserver.ReceivePlayerDataServlet</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>Suggest</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerInfo</servlet-name>
        <url-pattern>/getplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsServlet</servlet-name>
        <url-pattern>/friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trivia_Quiz_Server</servlet-name>
        <url-pattern>/trivia_quiz_server</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivePlayerData</servlet-name>
        <url-pattern>/receive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsAdminServlet</servlet-name>
        <url-pattern>/admin/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerImageServlet</servlet-name>
        <url-pattern>/pi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionImageServlet</servlet-name>
        <url-pattern>/qi</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>